@model WebApp_Cinepolis.Entities.Director
<div class="card mb-4" id="forms">
          <div class="card-header">Editar Director</div>
          <div class="card-body">
        @using (Html.BeginForm("EditarDirector", "Director", FormMethod.Post))
        {
            @Html.HiddenFor(Model => Model.Id, new { required = "required" })
            <div class="mb-3">
                <label class="form-label" >Nombre</label>
                @Html.TextBoxFor(Model => Model.Nombre, new { @class = "form-control", required = "required" })
                <div class="form-text" ></div>
            </div>
            <div class="mb-3">
                <label class="form-label" >Biografia</label>
                @Html.TextAreaFor(Model => Model.Biografia, new { @class = "form-control", required = "required" })
            </div>
            <button class="btn btn-primary" type="submit">Editar Director</button>
        }
             
            
          </div>
</div>