@model IEnumerable<WebApp_Cinepolis.Entities.Cine>
<div class="page-holder">


    <section class="py-5">
        <div class="container p-0">
            <h2 class="h5 text-uppercase mb-4">Cines Disponibles</h2>
        <div class="row">
            @foreach (var cines in Model)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="product text-center">
                        <div class="position-relative mb-3">
                            <div class="badge text-white bg-"></div><a class="d-block" href="@Url.Action("Peliculas","Mantenimiento", new{id = cines.Id})"><img class="img-fluid w-100" src="img/logo_cine.jpg" alt="..."></a>
                        </div>
                        <h6> <a class="reset-anchor" href="detail.html">@cines.Nombre</a></h6>
                        <p class="small text-muted">@cines.Ubicacion</p>
                    </div>
                </div>
            }
        </div>
        </div>
    </section>

</div>

